html{
	--highlighter-rouge-color:#e2a7ee !important;
	--toc-highlight: #b674f3 !important;
	--link-color: #b18af8 !important;
	}
#page-category a:hover,
#page-tag a:hover,
.post-tags .post-tag:hover,
.post-tail-wrapper .license-wrapper>a:hover,
#search-results a:hover,
#topbar #breadcrumb a:hover,
.content a:not(.img-link):hover,
.post-meta a:not([class]):hover,
#access-lastmod a:hover,
footer a:hover {
    color: #563ad2 !important;
    border-bottom: 1px solid #563ad2 !important;
    text-decoration: none
}
mark {
	background-color: #6505ae !important;
	color: #e2e2e2 !important; 
	background:transparent url(/images/sparkles.gif)
}
.btn.btn-outline-primary:not(.disabled):hover {
    border-color: #5100ff !important
}
.btn-outline-primary {
	--bs-btn-active-bg: #710dfd !important;
	--bs-btn-hover-bg: #710dfd !important;
}
#sidebar #avatar {
	transition: box-shadow 0.3s ease;
}
#sidebar #avatar:hover {
    box-shadow: #5100ff 0 0 0 2px;
}
#sidebar #avatar img:hover {
    transform: scale(1);
}

#sidebar #avatar img {
	background:transparent url(/images/rain.gif);
}