---
layout: post
---

<div id="encrypted_content">
  <form id="encrypt_form" action="#" method="post"  class="text-center">
    <input id="encrypt_password"
           type="password"
           name="password"
           placeholder="Unlock with root flag"
           autofocus 
           class="form-control"/>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Unlock"/>
    <br>
    <div id="alert-region">
      <br>
    </div>
  </form>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script>
    document.getElementById('encrypt_form').addEventListener('submit', function(e) {
      e.preventDefault();
      var passphrase = document.getElementById('encrypt_password').value,
          encryptedMsg = '{{ page.encrypted }}',
          encryptedHMAC = encryptedMsg.substring(0, 64),
          encryptedHTML = encryptedMsg.substring(64),
          decryptedHMAC = CryptoJS.HmacSHA256(encryptedHTML, CryptoJS.SHA256(passphrase).toString()).toString(),
          alertHtml = '<div class="alert alert-danger" role="alert">Incorrect root flag!</div><br>';

      if (decryptedHMAC !== encryptedHMAC) {
        document.getElementById('alert-region').innerHTML += alertHtml; 
        len = document.getElementById('alert-region').children.length;
        id = Math.random(Math.random() * 999999999999999999999);
        document.getElementById('alert-region').children[len-1].id=id;
        document.getElementById('alert-region').children[len-2].id=id+1;
        setTimeout(function() {
          document.getElementById(id).parentNode.removeChild(document.getElementById(id));
          document.getElementById(id+1).parentNode.removeChild(document.getElementById(id+1));
        }, 3000)
        return false;
      }

      var plainHTML = CryptoJS.AES.decrypt(encryptedHTML, passphrase).toString(CryptoJS.enc.Utf8);
      document.getElementById('alert-region').classList = 'visually-hidden';
      document.getElementById('encrypted_content').innerHTML = plainHTML;
      return false;
    });
  </script>
</div>
